/**
 * styles.css
 *
 * Computer Science 50
 * Final Project
 *
 * Global CSS.
 */

body {
	background-color: 	#FFFFE0;
}
canvas {
   border: 2px solid black;
}

.title {
	font-family: 'Sansita One', cursive;
	font-size: 36px;
}

.body {
	font-family: 'Satisfy', cursive;
	font-size: 24px;
}